<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Messaging</key>
	<array>
		<dict>
			<key>name</key>
			<string>WhatsApp Messenger</string>
			<key>price</key>
			<integer>0</integer>
			<key>iconURL</key>
			<string>http://a716.phobos.apple.com/us/r30/Purple60/v4/05/11/7c/05117cd1-f177-1979-7151-7925d2f15756/AppIcon57x57.png</string>
			<key>id</key>
			<real>310633997</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Messenger</string>
			<key>price</key>
			<integer>0</integer>
			<key>iconURL</key>
			<string>http://a482.phobos.apple.com/us/r30/Purple60/v4/da/a7/d0/daa7d07e-ec6b-551c-f4e3-4ce848b4bdf8/Icon-Production.png</string>
			<key>id</key>
			<real>454638411</real>
		</dict>
	</array>
	<key>Internet</key>
	<array>
		<dict>
			<key>name</key>
			<string>Overcast: Podcast Player</string>
			<key>price</key>
			<integer>0</integer>
			<key>iconURL</key>
			<string>http://a624.phobos.apple.com/us/r30/Purple18/v4/e3/7f/98/e37f9809-ff30-404f-0dc1-8de17b2c9766/AppIcon60x60_U00402x.png</string>
			<key>id</key>
			<integer>888422857</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Tweetbot 4 for Twitter</string>
			<key>price</key>
			<real>4.99</real>
			<key>iconURL</key>
			<string>http://a1384.phobos.apple.com/us/r30/Purple30/v4/89/c3/fc/89c3fcc0-aba8-a0aa-2c2d-4b98e43e2b29/AppIcon60x60_U00402x.png</string>
			<key>id</key>
			<real>1018355599</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Facebook</string>
			<key>price</key>
			<integer>0</integer>
			<key>iconURL</key>
			<string>http://a1627.phobos.apple.com/us/r30/Purple18/v4/a8/ed/f3/a8edf3a6-88aa-b55c-d92e-f87928ab6bd9/Icon-Production.png</string>
			<key>id</key>
			<real>284882215</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Pocket: Save Articles and Videos to View Later</string>
			<key>price</key>
			<integer>0</integer>
			<key>iconURL</key>
			<string>http://a1363.phobos.apple.com/us/r30/Purple60/v4/86/af/d6/86afd680-5638-6855-2136-bd6cb42a6c43/AppIcon60x60_U00402x.png</string>
			<key>id</key>
			<real>309601447</real>
		</dict>
		<dict>
			<key>name</key>
			<string>WWDC</string>
			<key>price</key>
			<integer>0</integer>
			<key>iconURL</key>
			<string>http://a606.phobos.apple.com/us/r30/Purple18/v4/c6/44/1f/c6441f72-ebf8-fe33-3ae4-88e02ef8b15b/AppIcon60x60_U00402x.png</string>
			<key>id</key>
			<real>640199958</real>
		</dict>
	</array>
	<key>Productivity</key>
	<array>
		<dict>
			<key>name</key>
			<string>Things</string>
			<key>price</key>
			<real>9.99</real>
			<key>iconURL</key>
			<string>http://a1206.phobos.apple.com/us/r30/Purple49/v4/b0/45/0b/b0450b64-2653-3c9d-06ec-39c3439f69d1/AppIcon-57px.png</string>
			<key>id</key>
			<real>284971781</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Scanner Pro 7 - Document and receipt PDF scanner with OCR</string>
			<key>price</key>
			<real>3.99</real>
			<key>iconURL</key>
			<string>http://a16.phobos.apple.com/us/r30/Purple18/v4/25/51/e5/2551e58a-07df-77f9-fbf7-20944ae84116/ScannerPro60x60_U00402x.png</string>
			<key>id</key>
			<real>333710667</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Scanbot - QR &amp; Document Scanner</string>
			<key>price</key>
			<integer>0</integer>
			<key>iconURL</key>
			<string>http://a208.phobos.apple.com/us/r30/Purple20/v4/ba/d7/3c/bad73c03-7190-7ca6-c4d3-1d467965e885/AppIcon60x60_U00402x.png</string>
			<key>id</key>
			<real>834854351</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Evernote - capture notes and sync across all devices. Stay organized.</string>
			<key>price</key>
			<integer>0</integer>
			<key>iconURL</key>
			<string>http://a1307.phobos.apple.com/us/r30/Purple18/v4/93/74/3f/93743fa1-c401-a766-f8ca-05d1b6797718/AppIcon60x60_U00402x.png</string>
			<key>id</key>
			<real>281796108</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Dropbox</string>
			<key>price</key>
			<integer>0</integer>
			<key>iconURL</key>
			<string>http://a752.phobos.apple.com/us/r30/Purple60/v4/88/16/c4/8816c42f-5b7f-cc8c-87bc-d04951f8e499/AppIcon60x60_U00402x.png</string>
			<key>id</key>
			<real>327630330</real>
		</dict>
	</array>
	<key>Utility</key>
	<array>
		<dict>
			<key>name</key>
			<string>Sleep Cycle alarm clock</string>
			<key>price</key>
			<integer>0</integer>
			<key>iconURL</key>
			<string>http://a374.phobos.apple.com/us/r30/Purple60/v4/d5/4f/c9/d54fc939-a768-05d2-6bcb-8773ba75550c/AppIcon60x60_U00402x.png</string>
			<key>id</key>
			<real>320606217</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Uber</string>
			<key>price</key>
			<real>0</real>
			<key>iconURL</key>
			<string>http://a607.phobos.apple.com/us/r30/Purple18/v4/49/5e/c0/495ec051-f384-d956-b1cb-c2b20f4590f7/AppIcon60x60_U00402x.png</string>
			<key>id</key>
			<real>368677368</real>
		</dict>
		<dict>
			<key>name</key>
			<string>1Password - Password Manager and Secure Wallet</string>
			<key>price</key>
			<integer>0</integer>
			<key>iconURL</key>
			<string>http://a655.phobos.apple.com/us/r30/Purple60/v4/2f/d0/4b/2fd04be0-f5a7-c9ef-d1b1-33062f70c24e/AppIcon60x60_U00402x.png</string>
			<key>id</key>
			<real>568903335</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Letterpress – Word Game</string>
			<key>price</key>
			<integer>0</integer>
			<key>iconURL</key>
			<string>http://a1585.phobos.apple.com/us/r30/Purple30/v4/2d/58/28/2d582876-1f2b-6590-e1b2-668967cae24b/AppIcon57x57.png</string>
			<key>id</key>
			<real>526619424</real>
		</dict>
	</array>
</dict>
</plist>
